[submodule "opt@main/readwrite/public/user/opt"]
	path = main/readwrite/public/user/opt
	url = git@bitbucket.org:sh4r4d/opt.git
[submodule "osetup@main/readwrite/public/user/osetup"]
	path = main/readwrite/public/user/osetup
	url = git@bitbucket.org:sh4r4d/osetup.git
[submodule "sysinfo@main/readwrite/public/system/sysinfo"]
	path = main/readwrite/public/system/sysinfo
	url = git@bitbucket.org:sh4r4d/sysinfo.git
[submodule "system@main/readwrite/public/system/system"]
	path = main/readwrite/public/system/system
	url = git@github.com:sharad/system.git
[submodule "spacemacs@external/readonly/public/user/res/emacs/spacemacs"]
	path = external/readonly/public/user/res/emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "rc@main/readwrite/public/user/rc"]
	path = main/readwrite/public/user/rc
	url = git@github.com:sharad/rc.git
[submodule "localdirs@main/readwrite/public/user/localdirs"]
	path = main/readwrite/public/user/localdirs
	url = git@bitbucket.org:sh4r4d/localdirs.git
[submodule "Public@main/readwrite/public/user/doc/Public"]
	path = main/readwrite/public/user/doc/Public
	url = git@bitbucket.org:sh4r4d/docpublic.git
[submodule "Library@main/readwrite/public/user/doc/Library"]
	path = main/readwrite/public/user/doc/Library
	url = git@bitbucket.org:sh4r4d/doclibrary.git
[submodule "contents@main/readwrite/public/user/doc/CreatedContent/contents"]
	path = main/readwrite/public/user/doc/CreatedContent/contents
	url = git@bitbucket.org:sh4r4d/doccontents.git
[submodule "secure@main/readwrite/private/user/noenc/ecryptfsdir/secure"]
	path = main/readwrite/private/user/noenc/ecryptfsdir/secure
	url = gcrypt::git@bitbucket.org:sh4r4d/secure.d.git
[submodule "enc/orgp@main/readwrite/private/user/noenc/ecryptfsdir/enc/orgp"]
	path = main/readwrite/private/user/noenc/ecryptfsdir/enc/orgp
	url = gcrypt::git@bitbucket.org:sh4r4d/orgp.git
[submodule "elpa-pkgs@main/readwrite/public/user/res/emacs/pkg/elpa/elpa-pkgs"]
	path = main/readwrite/public/user/res/emacs/pkg/elpa/elpa-pkgs
	url = git@github.com:sharad/elpa-pkgs
[submodule "stumpwm-contrib@external/readonly/public/user/res/clisp/stumpwm-contrib"]
	path = external/readonly/public/user/res/clisp/stumpwm-contrib
	url = https://github.com/stumpwm/stumpwm-contrib.git
[submodule "lotus-melpa@main/readwrite/public/user/res/emacs/pkg/elpa/lotus-melpa"]
	path = main/readwrite/public/user/res/emacs/pkg/elpa/lotus-melpa
	url = git@github.com:sharad/lotus-melpa.git
[submodule "main/readwrite/private/user/noenc/protable"]
	path = main/readwrite/private/user/noenc/portable
	url = gcrypt::git@github.com:sharad/portablehome-enc.git
